#menu a {
      color: rgb(41, 41, 156);
      text-decoration: none;
      }
      
      #inscription form {
            width: 400px;
            border-radius: 5px;
            background-color: rgb(20, 109, 109);
            border: solid rgba(179, 21, 21, 0.932) 3px;
      }
      #inscription div {
            position: absolute;
            height: 
            left: 25%
      }
      fieldset#set {
            border-style: dashed; border-color: rgb(106, 133, 133);
      }
      fieldset#set2 {
            border-style: dashed; border-color: rgb(54, 83, 83);
      }
      legend#sam, legend#samo {
            color: rgb(28, 73, 73); font-style: italic;
      }
      button{
            background-color: rgb(99, 66, 66);
      }
      select#pays, select#photo {
            background-color: rgb(109, 96, 59);
            color: grey;
      }
      #set input {
            color: rgb(122, 89, 115);
      }
      #set2 input {
            color: rgb(51, 80, 68);
      }
      h1#def {
            text-align: center;
      }